body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #28348A;
    /* font-family: Arial, sans-serif; */
    font-family: "Montserrat", sans-serif;
}

@page {
    size: A4 landscape;
    margin: 0;
}

.page-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: -1;
    background: #D1EBF9;
    background-image: url('./img/background-certificado.png');
    /* linear-gradient(rgba(214, 245, 255, 0.5), rgba(0, 0, 0, 0.5)); */
    background-position: fixed;
    background-repeat: repeat;
    background-size: cover;
}

.qr-code {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 6rem;
    margin-left: -3rem;
}

.name-participant-section {
    /* background: red; */
    margin-top: 21rem;
    margin-left: 19rem;
    /* border: #28348A solid; */
    max-width: 50%;
}

.participant-name {
    font-family: "Playball", cursive !important;
    font-weight: 400;
    font-style: normal;
    color: #28348A;
    font-size: 55px;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

p {
    font-size: 1.5em;
}

/* fonts */
.playball-regular {
    font-family: "Playball", cursive;
    font-weight: 400;
    font-style: normal;
    color: #28348A;
}

.montserrat-text {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.montserrat-bold-text {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: bold;
}
.hash-style {
    font-size: smaller;
}
.hash-style {
    text-decoration: none;
    color: #28348A; /* Color inicial del enlace */
    margin-top: -5px;
}

.hash-style:active {
    color: #28348A; /* Color del enlace al hacer clic */
}
.pill {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-top: 5px;
    height: 40px;
    background: #04AA6D;
    border-radius: 999em 999em 999em 40px;
    
}